body {
	margin: auto;
	padding: 0;
	text-align: center;
	font-family: pragmatapro;
	font-size: 14pt;
	font-variant-emoji: text;
	padding: 12pt;
}

.debug * {
	/* outline: 1px dashed rgba(255,0,0,0.4); */
}

body > * {
	/* margin: 20px auto;
	max-width: 500px; */
	/* max-width: 400px; */
}

tt {
	font-family: pragmatapro;
	font-style: normal;
	color: #000;
	/* overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: none; */
}

img {
	width: 50%;
}

strong {
	font-weight: normal;
}

a, a:active, a:visited, a:hover {
	font-weight: normal;
	text-decoration: none;
	color: #00c;
}

a span { display: block; font-size: 12pt; }

.icon {
	font-size: 800%;
	display: inline-block;
}

table {
	margin: 1em auto 1em auto;
	border-collapse: collapse;
}

td {
	border: none;
}

h1,
h2,
p,
td {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 800%;
}

h2 {
	font-size: 200%;
}

td.we,
td.live,
td.here,
td.to,
td.make {
	vertical-align: top;
	text-align: right;
}

.truth,
.poetry {
	color: black;
	background-color: white;
}

.poetry p {
	margin-bottom: 1em;
}

#rdvto p {
	margin-bottom: 1em;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProR_liga_0828.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProB_liga_0828.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProI_liga_0828.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProZ_liga_0828.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

body#rdvto {
	color: #444;
	background-color: #fff;
}

body#rdvto h1, body#rdvto h2, body#rdvto .icon {
	color: #000;
}

body#rdvto h1 {
	font-size: 400%;
}

body#loud {
	color: #fff;
	background-color: #004;
}

body#loud a {
	color: #ff0;
}

body#loud :target {
	color: #004;
	background-color: #fff;
}

body#loud :target a {
	color: #00f;
}

body#home, body#words {
	color: #000;
	background-color: #fff;
}


body#help {
	color: #000;
	background-color: #8f8;
}

body#home a {
	color: #f00;
}

body#love {
	color: #000;
	background-color: #f88;
}

body#love strong {
	color: #f00;
	background-color: #fff;
}

body#peace {
	color: #fff;
	background-color: #88f;
}

div#nav button {
	font-family: pragmatapro;
	color: #000;
	background: none;
	border: none;
	/* border-bottom: 1px solid #ccc; */
	font-size: 24pt;
	outline: none;
}

div#nav button:last-child {
	/* border-bottom: 2px solid rgb(123, 163, 11); */
	/* border-bottom: 2px solid rgb(121, 121, 121); */
	border-bottom: 2px solid rgb(131, 15, 15);
}

div#nav button span {
	padding: .2em;
	display: block;
	font-size: 10pt;
}

body#home h1 {
	font-size: 400%;
}

@media (prefers-color-scheme: dark) {
	body#home, body#words {
		color: #fff;
		background-color: #000;
	}
	
	body#rdvto {
		color: #bbb;
		background-color: #000;
	}

	tt, body#rdvto h1, body#rdvto h2, body#rdvto .icon {
		color: #fff;
	}

	div#nav button {
		color: #aaa;
	}

	div#nav button {
		/* border-bottom: 1px solid #333; */
	}
	
	a, a:active, a:visited, a:hover {
		color: #ff3;
	}
}

/* .float-dock *, .float-dock {
	outline: 1px dashed #f00;
} */
.float-dock {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	opacity: 0;
	transition: all 350ms ease-out;
	transform: translate3d(0, 100%, 0);
}

.float-dock.showing {
	opacity: 1;
	transform: translate3d(0,0,0);
}

#nav {
	position: relative;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.8);
	margin: 10px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.8);
	transition: all 360ms ease-in-out;
	border-radius: 3px;
}

#nav > button {
	padding: 5px 10px;
}

#nav:hover {
	opacity: 0.5;
}
