body {
	margin: auto;
	padding: 0;
	text-align: center;
	font-family: pragmatapro;
	font-size: 14pt;
	font-variant-emoji: text;
	max-width: 60em;
}

tt {
	font-family: pragmatapro;
	font-style: normal;
	color: #000;
}

img {
	width: 50%;
}

strong {
	font-weight: normal;
}

a, a:active, a:visited, a:hover {
	font-weight: normal;
	text-decoration: none;
	color: #00c;
}

a span { display: block; font-size: 12pt; }

.icon {
	font-size: 800%;
	display: inline-block;
}

table {
	margin: 1em auto 1em auto;
	border-collapse: collapse;
}

td {
	border: none;
}

h1,
h2,
p,
td {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 800%;
}

h2 {
	font-size: 200%;
}

td.we,
td.live,
td.here,
td.to,
td.make {
	vertical-align: top;
	text-align: right;
}

.truth,
.poetry {
	color: black;
	background-color: white;
}

.poetry p {
	margin-bottom: 1em;
}

#rdvto p {
	margin-bottom: 1em;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProR_liga_0828.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProB_liga_0828.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProI_liga_0828.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'pragmatapro';
	src: url('PragmataProZ_liga_0828.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

body#rdvto {
	color: #444;
	background-color: #fff;
}

body#rdvto h1, body#rdvto h2, body#rdvto .icon {
	color: #000;
}

body#loud {
	color: #fff;
	background-color: #004;
}

body#loud a {
	color: #ff0;
}

body#loud :target {
	color: #004;
	background-color: #fff;
}

body#loud :target a {
	color: #00f;
}

body#home, body#words {
	color: #000;
	background-color: #fff;
}


body#help {
	color: #000;
	background-color: #8f8;
}

body#home a {
	color: #f00;
}

body#love {
	color: #000;
	background-color: #f88;
}

body#love strong {
	color: #f00;
	background-color: #fff;
}

body#peace {
	color: #fff;
	background-color: #88f;
}

div#nav {
	margin: .5em;
	text-align: right;
}

div#nav button {
	display: inline-block;
	width: 2em;
	font-family: pragmatapro;
	color: #aaa;
	background-color: #000;
	border: none;
	font-size: 20pt;
	padding: .25em;
	margin: 1px;
	border-radius: .25em;
	outline: none;
}

div#nav button span {
	padding: .2em;
	display: block;
	font-size: 10pt;
}

body#home h1 {
	font-size: 400%;
}

@media (prefers-color-scheme: dark) {
	body#home, body#words {
		color: #fff;
		background-color: #111;
	}
	
	body#rdvto {
		color: #bbb;
		background-color: #111;
	}
	.background {
		content: ' ';
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
		z-index: -1;
		background-image: url('/creation of adam.jpg');
		background-attachment: fixed;
		background-size: cover;
		filter:  brightness(0.25) blur(0px);
		transition: filter 600ms ease-in-out;
	}

	body.scrolled .background {
		filter:  brightness(0.15) blur(10px);
	}

	tt, body#rdvto h1, body#rdvto h2, body#rdvto .icon {
		color: #fff;
	}

	a, a:active, a:visited, a:hover {
		color: #ff3;
	}
}

.title {
	margin: 15vh 0;
}
